---
import Form from "../components/Form.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Insights" description="testing">
	<div class="pt-16 sm:pt-16">
		<section
			class="h-[80vh] w-full rounded-xl border-0 border-green-300 bg-[url('/mobile-haikei-2.svg')] bg-cover bg-center bg-no-repeat p-0 sm:bg-[url('/mobile-haikei-2.svg')] md:bg-[url('/full-haikei-2.svg')] lg:bg-[url('/full-haikei-2.svg')] lg:bg-cover"
		>
			<!-- <section class="mt-0 w-full lg:bg-[url('./full-haikei-2.svg')] md:bg-[url('./full-haikei-2.svg')] sm:bg-[url('./mobile-haikei-2.svg')] bg-[url('./mobile-haikei-2.svg')] bg-no-repeat  bg-center lg:bg-cover bg-cover rounded-xl "> -->
			<div
				class="flex flex-col justify-center gap-y-2 rounded-md border-0 border-[#4343FE] md:flex-row md:justify-between md:gap-x-4"
			>
				<div
					class="flex h-full w-full flex-col items-start justify-center rounded-xl border-2 border-[#171738] bg-none p-4 md:w-1/2"
				>
					<h1 class="text-left text-4xl font-bold text-[#171738]">
						<span>Get in touch!</span>
					</h1>
					<p class="py-4">
						Proin volutpat consequat porttitor cras nullam gravida at. Orci
						molestie a eu arcu. Sed ut tincidunt integer elementum id sem. Arcu
						sed malesuada et magna.
					</p>
					<p class="">+1 (555) 234-5678</p>
					<p class="">hello@example.com</p>
				</div>
				<div class="w-full md:w-1/2">
					<div
						class="flex h-full w-full flex-col items-start justify-center rounded-xl border-2 border-[#171738] bg-none p-4"
					>
						<!-- <Form client:only="react"/> -->
						<Form />
						<!-- <Test client:load/> -->
					</div>
				</div>
			</div>
		</section>
	</div>
</BaseLayout>
