---
import BaseLayout from "../layouts/BaseLayout.astro";
const SITE_TITLE = "Moonset";
const SITE_DESCRIPTION =
	"A Web Development agency empowering stellar businesses.";
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
	<div class="pt-16 sm:pt-16">
		<section
			class="w-full rounded-xl bg-[url('./mobile-haikei-2.svg')] bg-cover bg-center bg-no-repeat sm:bg-[url('./mobile-haikei-2.svg')] md:bg-[url('./full-haikei-2.svg')] lg:bg-[url('./full-haikei-2.svg')] lg:bg-cover"
		>
			<div
				class="flex flex-row justify-between rounded-md border-0 border-[#4343FE]"
			>
				<div
					class="relative inline-block flex h-full w-1/3 justify-center rounded-xl border-0 border-red-400 bg-[#171738] p-4 md:w-1/5 lg:w-1/5 lg:p-8"
				>
					<!-- <img src="/brain.png" width="300" height="300" alt="Hero Image" class="block rounded-full h-[300px] w-[300px]" /> -->
					<img
						src="/duotone-brain.png"
						width="300"
						height="300"
						alt="Hero Image"
						class="z-10 block w-[200px] rounded-lg border-0 border-[#4343FE] sm:w-[200px] md:w-[200px] lg:w-[300px]"
					/>
					<!-- <div class="absolute top-10 left-10 w-[300px] h-[300px] rounded-full z-10 bg-gradient-to-r from-[#171738] to-blue-500"></div> -->
					<!-- <svg viewBox="0 0 100 100" class="lg:w-fit  md:w-[160px] sm:w-[200px] max-w-[300px] w-[300px] w-auto absolute object-cover mt-4 ml-4 shrink fill-current">
                            <circle height="50" width="50" cx="50" cy="50" r="50" fill="#4343FE" />
                        </svg> -->
				</div>
				<div class="ml-4 w-4/5">
					<div
						class="flex h-full w-full flex-col items-start justify-center rounded-xl border-2 border-[#171738] bg-[#EDF0FF] p-4"
					>
						<h1 class="text-left text-4xl font-bold text-[#171738]">
							<span>Our Work</span>
						</h1>
						<p
							class="font-semi bold ml-5 text-left text-lg text-[#171738] md:text-xl lg:ml-10 lg:text-2xl"
						>
							This is a description of our clients' success stories. They had a
							problem and we provided a solution that improved their online
							presence, saved them time, and boosted their revenue.
						</p>
					</div>
				</div>
			</div>
		</section>

		<section
			class="w-full rounded-xl bg-[url('./mobile-haikei-2.svg')] bg-cover bg-center bg-no-repeat sm:bg-[url('./mobile-haikei-2.svg')] md:bg-[url('./full-haikei-2.svg')] lg:bg-[url('./full-haikei-2.svg')] lg:bg-cover"
		>
			<div
				class="flex flex-row justify-between rounded-md border-0 border-[#4343FE]"
			>
				<div
					class="flex h-full w-1/2 flex-col justify-center rounded-xl border-0 border-red-400 bg-[#171738] p-4 lg:p-8"
				>
					<!-- <img src="/brain.png" width="300" height="300" alt="Hero Image" class="block rounded-full h-[300px] w-[300px]" /> -->
					<img
						src="/duotone-brain.png"
						width="300"
						height="300"
						alt="Hero Image"
						class="z-10 block w-[200px] rounded-lg border-0 border-[#4343FE] sm:w-[200px] md:w-[200px] lg:w-[300px]"
					/>
					<p class="text-[#EDF0FF]">visit site</p>
					<!-- <div class="absolute top-10 left-10 w-[300px] h-[300px] rounded-full z-10 bg-gradient-to-r from-[#171738] to-blue-500"></div> -->
					<!-- <svg viewBox="0 0 100 100" class="lg:w-fit  md:w-[160px] sm:w-[200px] max-w-[300px] w-[300px] w-auto absolute object-cover mt-4 ml-4 shrink fill-current">
                            <circle height="50" width="50" cx="50" cy="50" r="50" fill="#4343FE" />
                        </svg> -->
				</div>
				<div class="ml-4 w-1/2">
					<div
						class="flex h-full w-full flex-col items-start justify-center rounded-xl border-2 border-[#171738] bg-[#EDF0FF] p-4"
					>
						<h1 class="text-left text-4xl font-bold text-[#171738]">
							<span>Smart Transporation</span>
						</h1>
						<p
							class="font-semi bold ml-5 text-left text-lg text-[#171738] md:text-xl lg:ml-10 lg:text-2xl"
						>
							This is a description of our clients' success stories. They had a
							problem and we provided a solution that improved their online
							presence, saved them time, and boosted their revenue.
						</p>
					</div>
				</div>
			</div>
		</section>
	</div>
</BaseLayout>
