---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import MobileMenu from "../components/Mobile-menu.astro";
import Mobile from "../components/Mobile.tsx";
import Mobile_test from "../components/Mobile-test";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Tabs from "../components/Tabs.astro";

---

<!DOCTYPE html>
<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <!-- <body class="w-prose max-w-4xl"> -->
    <body class="px-4 lg:mt-5 md:mt-3 sm:mt-2 mt-2 mx-0  w-screen w-full">
        <!-- <Header title={SITE_TITLE} /> -->
        <!-- <MobileMenu /> -->
        <!-- <Mobile client:load/> -->
        <Mobile_test client:load/>
        <!-- <main class="border-2 border-[#4343FE] w-full flex flex-col justify-center lg:w-10/12 "> -->
        <!-- <main class="border-2 border-[#4343FE] w-full sm:w-full md:w-11/12 lg:w-10/12 lg:flex lg:items-end lg:flex-col"> -->
        <main class="border-0 border-[#4343FE] w-full">
            <!-- <section class="mt-5 p-0 w-full ">
                <div class="flex flex-col rounded-md border-0 border-[#4343FE] w-full h-[60vh] justify-center items-center relative inline-block ">
                    <div class="w-full h-full absolute flex justify-end">
                        <div class="w-full lg:w-1/2 md:w-2/3 relative inline-block flex justify-center p-4 items-center">
                            <img src="/developer.png" width="800" height="400" alt="Hero Image" class="rounded-xl h-fit w-46 z-10 sm:w-[600px] md:w-[600px] lg:w-[800px]"/>
                            <svg viewBox="0 0 800 400"  class="lg:w-[800px] md:w-fit sm:w-fit w-fit rounded-xl absolute block mt-8 ml-8 flex-no-shrink fill-current" xmlns="http://www.w3.org/2000/svg">
                                <rect x="0" y="0" width="800" height="400" fill="#4343FE"/>
                            </svg>
                        </div>
                    </div>
                    <div class="flex flex-col items-start justify-end w-full h-full z-10">
                        <h1 class="text-left lg:text-5xl md:text-4xl sm:text-3xl text-3xl font-bold text-[#171738]">
                            <span>Empowering Businesses <br/>with </span>
                            <span class="text-[#4343FE]">Supersonic Websites</span>
                        </h1>
                        <button class="border-2 border-orange-400 rounded-md mt-5 py-2 px text-center text-base font-bold text-orange-400 w-36">Start Here</button>
                    </div>
                </div>
            </section> -->


            <section class="mt-5 p-0 w-full ">
                <div class="flex flex-col rounded-md border-0 border-[#4343FE] w-full h-[60vh] justify-center items-center relative">
                    <div class="w-full h-full  flex lg:flex-row flex-col justify-end border-0 border-red-400">
                        <div class="w-full  relative  flex flex-row justify-center p-4 items-center border-0 border-green-300 ">
                            <img src="/developer.png" width="800" height="400" alt="Hero Image" class="rounded-xl h-fit w-full z-10 sm:w-[600px] md:w-[600px] lg:w-[800px]"/>
                            <!-- <div class="block absolute top-0 left-0 w-full h-[360px] rounded-xl z-1 bg-gradient-to-r from-[#171738] to-blue-500"></div> -->
                            <!-- <div class="rounded-md absolute block mt-0 ml-0 z-1 bg-[url('/rect.svg')]"></div> -->
                            <svg viewBox="0 0 800 400"  class="overflow-hidden sm:w-[600px] md:w-[600px] lg:w-[800px] w-fit rounded-xl absolute block mt-8 ml-8 shrink fill-current" xmlns="http://www.w3.org/2000/svg">
                                <rect x="0" y="0" width="800" height="400" fill="#4343FE"/>
                            </svg>
                        </div>
                        <div class="flex flex-col items-start justify-center lg:justify-end md:justify-end sm:justify-center w-full h-full z-10 border-0 border-red-400">
                            <h1 class="text-left lg:text-5xl md:text-4xl sm:text-3xl text-2xl font-bold text-[#171738]">
                                <span>Empowering Businesses <br/>with </span>
                                <span class="text-[#4343FE]">Supersonic Websites</span>
                            </h1>
                            <button class="border-2 border-orange-400 rounded-md mt-5 py-2 px text-center text-xs lg:text-base md:text-base sm:text-sm font-bold text-orange-400 w-36 hover:bg-orange-400 hover:text-[#FFFFFF] transition duration-600 hover:ease-in ">Start Here</button>
                        </div>
                    </div>
                </div>
            </section>

            <hr class="my-10 mx-10 border-[#4343FE]" />

            <section class="mt-0 w-full">
                <div class="flex flex-row justify-between rounded-md border-0 border-[#4343FE] py-4 ">
                    <div class="w-1/3 md:w-1/5 lg:w-1/5 relative inline-block flex justify-center h-full border-0 border-red-400 p-2">
                        <!-- <img src="/brain.png" width="300" height="300" alt="Hero Image" class="block rounded-full h-[300px] w-[300px]" /> -->
                        <img src="/brain.png" width="300" height="300" alt="Hero Image" class="block rounded-full lg:w-[300px] md:w-[200px] sm:w-[200px] w-[200px] z-10" />
                        <!-- <div class="absolute top-10 left-10 w-[300px] h-[300px] rounded-full z-10 bg-gradient-to-r from-[#171738] to-blue-500"></div> -->
                        <svg viewBox="0 0 100 100" class="lg:w-[300px]  md:w-[160px] sm:w-[200px] max-w-[300px] w-[300px] w-auto absolute object-cover mt-4 ml-4 shrink fill-current">
                            <!-- <rect x="0" y="0" width="800" height="400" fill="#4343FE"/> -->
                            <circle height="50" width="50" cx="50" cy="50" r="50" fill="#4343FE" />
                        </svg>
                    </div>
                    <div class="flex flex-col items-start justify-center w-4/5" >
                        <h1 class="text-left text-4xl font-bold text-[#171738]">
                            <span>Philosophy</span>
                        </h1>
                        <p class="ml-5 text-left text-base font-semi bold text-[#4343FE] ">We are a Web Development agency obsessed with bringing ideas into reality. </p>
                    </div>
                    
                </div>
            </section>

            <section class="mt-10 w-full">
                <div class="flex flex-row justify-between rounded-md border-0 border-[#4343FE] py-4">
                    <div class="flex flex-col items-start justify-center w-4/5" >
                        <h1 class="text-left text-4xl font-bold text-[#171738]">
                            <span>Philosophy</span>
                        </h1>
                        <p class="ml-5 text-left text-base font-semi bold text-[#4343FE] ">We are a Web Development agency obsessed with bringing ideas into reality. </p>
                    </div>
                    <div class="w-1/3 md:w-1/5 lg:w-1/5 relative inline-block flex justify-center h-full border-0 border-red-400 p-2">
                        <!-- <img src="/brain.png" width="300" height="300" alt="Hero Image" class="block rounded-full h-[300px] w-[300px]" /> -->
                        <img src="/brain.png" width="300" height="300" alt="Hero Image" class="block rounded-full lg:w-[300px] md:w-[200px] sm:w-[200px] w-[200px] z-10" />
                        <!-- <div class="absolute top-10 left-10 w-[300px] h-[300px] rounded-full z-10 bg-gradient-to-r from-[#171738] to-blue-500"></div> -->
                        <svg viewBox="0 0 100 100" class="lg:w-[300px]  md:w-[160px] sm:w-[200px] max-w-[300px] w-[300px] w-auto absolute object-cover mt-4 ml-4 shrink fill-current">
                            <!-- <rect x="0" y="0" width="800" height="400" fill="#4343FE"/> -->
                            <circle height="50" width="50" cx="50" cy="50" r="50" fill="#4343FE" />
                        </svg>
                    </div>
                </div>
            </section>

        </main>
        <Footer />
    </body>
</html>
