---
import Hero from "../components/Hero.astro";
import Thero from "../components/thero.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import Cta from "../components/Cta.astro";
import Clients from "../components/Clients.astro";
// import Questions from "../components/Questions";
import Questions from "../components/Questions.astro";
import Disclosures from "../components/Disclosures";
import Faq from "../sections/Faq.astro";


const SITE_TITLE = "Moonset";
const SITE_DESCRIPTION =
	"A Web Development agency empowering stellar businesses.";
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
	<Hero/>

	<hr class="mx-10 border-0" />

	<!-- <Clients/> -->

	<!-- <section class="mt-0 w-full lg:bg-[url('./full-haikei-2.svg')] md:bg-[url('./full-haikei-2.svg')] sm:bg-[url('./mobile-haikei-2.svg')] bg-[url('./mobile-haikei-2.svg')] bg-no-repeat  bg-center lg:bg-cover bg-cover rounded-xl "> -->
	<section id="test" class="mt-0 w-full rounded-xl flex flex-col gap-y-32">
		<div
			class="flex flex-row justify-between rounded-md border-0 border-brand-black max-h-[22rem] h-[22rem] max-h-full md:max-h-screen"
		>
			<div
				class=" flex h-full w-1/3 justify-end rounded-xl border-0 border-brand-black bg-none p-4 md:w-1/3 lg:w-1/3 lg:p-0"
			>
				<svg width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" class="pr-4">
					<rect x="0" y="0" width="100%" height="100%" rx="15" ry="15" style="fill:#4343FE;" />
				</svg>
				<img
					id="a"
					src="/duotone-brain2.png"
					alt="Hero Image"
					class="rounded-lg border-0 border-brand-black"
				/>

			</div>
			<div class="ml-4 w-2/3">
				<div
					class="flex h-full w-full flex-col items-start justify-center rounded-xl bg-brand-black p-10 gap-y-10"
				>
					<h2 class="text-left text-6xl font-bold text-brand-white">
						<span>Philosophy</span>
					</h2>
					<p
						class="font-normal ml-5 text-left text-lg text-brand-white md:text-lg lg:ml-10 lg:text-lg"
					>
						We strive to bring your ideas into reality as smoothly as possible.
						Our workflows are designed to prioritize your project's
						specifications early on, move fast, and produce a stellar solution.
					</p>
				</div>
			</div>
		</div>

		<div
			class="flex flex-row justify-between rounded-md border-0 border-brand-black max-h-[22rem] h-[22rem] max-h-full md:max-h-screen"
		>
			<div class="w-2/3">
				<div
					class="flex h-full w-full flex-col items-start justify-center rounded-xl bg-brand-black p-10 gap-y-10"
				>
					<h2 class="text-left text-6xl font-bold text-brand-white">
						<span>Expertise</span>
					</h2>
					<p
						class="font-normal ml-5 text-left text-lg text-brand-white md:text-lg lg:ml-10 lg:text-lg"
					>
						Web design and development tailored for small businesses anywhere in
						the United States. Attract more customers with highly efficient
						websites!
					</p>
				</div>
			</div>
			<div
				class="relative ml-4 inline-block flex h-full w-1/3 justify-center rounded-xl border-0 border-brand-black bg-none p-4 md:w-1/3 lg:w-1/3 lg:p-0"
			>
				<img
					src="/duotone-rocket.png"
					alt="Hero Image"
					class="rounded-lg border-0 border-brand-black"
				/>
				<svg width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" class="pl-4">
					<rect x="0" y="0" width="100%" height="100%" rx="15" ry="15" style="fill:#4343FE;" />
				</svg>
			</div>
		</div>

		<div
			class="flex flex-row justify-between rounded-md border-0 border-brand-black max-h-[22rem] h-[22rem] max-h-full md:max-h-screen"
		>
			<div
				class="relative inline-block flex h-full w-1/3 justify-center rounded-xl border-0 border-brand-black bg-none p-4 md:w-1/3 lg:w-1/3 lg:p-0"
			>
			<svg width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" class="pr-4">
				<rect x="0" y="0" width="100%" height="100%" rx="15" ry="15" style="fill:#4343FE;" />
			</svg>
				<img
					src="/duotone-brain3.png"
					alt="Hero Image"
					class="rounded-lg border-0 border-brand-black"
				/>
			</div>
			<div class="ml-4 w-2/3">
				<div
					class="flex h-full w-full flex-col items-start justify-center rounded-xl bg-brand-black p-10 gap-y-10"
				>
					<h2 class="text-left text-6xl font-bold text-brand-white">
						<span>Services & Solutions</span>
					</h2>
					<p
						class="font-normal ml-5 text-left text-lg text-brand-white md:text-lg lg:ml-10 lg:text-lg"
					>
						We primarely focus on landing pages. Let us know how we can help
						you! web Development - Mobile friendly - SEO - Creative direction
						and branding - UI / UX Design
					</p>
				</div>
			</div>
		</div>
	</section>

	<hr class="mx-10 border-0" />

	<section class="w-full rounded-xl">
		<div
			class="flex flex-row justify-between rounded-md border-0 border-brand-black max-h-[22rem] h-[18rem] max-h-full md:max-h-screen"
		>
			<div
				class="relative flex h-full w-1/3 flex-col justify-center rounded-xl border-0 border-brand-black bg-none p-4 md:w-1/5 lg:w-1/5 lg:p-0"
			>
				<img
					src="/duotone-brain.png"
					alt="Hero Image"
					class="rounded-lg border-0 border-brand-black"
				/>
				<svg width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" class="pt-4">
					<rect x="0" y="0" width="100%" height="100%" rx="15" ry="15" style="fill:#4343FE;" />
				</svg>
			</div>
			<div class="mx-4 w-3/5">
				<div
					class="flex h-full w-full flex-col items-start justify-center rounded-xl border-0 border-brand-black bg-brand-white p-8 gap-y-10 text-center"
				>
					<h2 class="flex text-center text-6xl font-bold text-brand-black justify-center">
						<span>Our Work</span>
					</h2>
					<p
						class="lg:text-lg font-normal text-left text-lg text-brand-black md:text-lg"
					>
						This is a description of our clients' success stories. They had a
						problem and we provided a solution that improved their online
						presence, saved them time, and boosted their revenue.
					</p>
				</div>
			</div>
			<div
				class="relative flex h-full w-1/3 flex-col justify-center rounded-xl border-2 border-brand-black bg-none p-4 md:w-1/5 lg:w-1/5 lg:p-8"
			>
				<h3 class="text-center text-lg font-bold text-brand-black">
					<span>Smart Transporation</span>
				</h3>
				<img
					src="/duotone-brain.png"
					alt="Hero Image"
					class="rounded-lg border-0 border-brand-black"
				/>
			</div>
		</div>
	</section>

	<hr class="mx-10 border-0" />

	<Faq/>

	<!-- <Cta/> -->
</BaseLayout>

<script>
	import gsap from "gsap";
	import ScrollTrigger from "gsap/src/ScrollTrigger";
	gsap.registerPlugin(ScrollTrigger)

	gsap.from("#a", {
		scrollTrigger: {
			trigger: "#hero",
			start: "top center",
			end: "top 100px",
			scrub: 1,
			// markers: true,
			// toggleActions: "restart pause reverse pause"
		},
		x: -200,
		opacity: 0,
		rotation: 30,
		ease: "none",
		duration: 3,
	});
	
</script>